<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>StudentAttendance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>logoutservlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutservlet</servlet-name>
    <url-pattern>/logoutservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiaryServlet</display-name>
    <servlet-name>diaryServlet</servlet-name>
    <servlet-class>servlet.DiaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diaryServlet</servlet-name>
    <url-pattern>/diaryservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>servlet.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/homeservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookBackServlet</display-name>
    <servlet-name>lookbackServlet</servlet-name>
    <servlet-class>servlet.LookBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lookbackServlet</servlet-name>
    <url-pattern>/lookbackservlet</url-pattern>
  </servlet-mapping>
  <!-- <servlet>
    <description></description>
    <display-name>TimeConfirmation</display-name>
    <servlet-name>TimeConfirmation</servlet-name>
    <servlet-class>servlet.TimeConfirmation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeConfirmation</servlet-name>
    <url-pattern>/TimeConfirmation</url-pattern>
  </servlet-mapping> -->
  <servlet>
    <description></description>
    <display-name>TimeConfirmationServlet</display-name>
    <servlet-name>timeconfirmationServlet</servlet-name>
    <servlet-class>servlet.TimeConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>timeconfirmationServlet</servlet-name>
    <url-pattern>/timeconfirmationservlet</url-pattern>
  </servlet-mapping>
</web-app>